<p id="notice"><%= notice %></p>

<p>
  <strong>Date of issue:</strong>
  <%= @issue.date_of_issue %>
</p>

<p>
  <strong>Program number:</strong>
  <%= @issue.program_number %>
</p>

<p>
  <strong>Program:</strong>
  <%= @issue.program_id %>
</p>

<p>
  <strong>Article of clothing:</strong>
  <%= @issue.article_of_clothing_id %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
